.table {
  width: 100%;
  border-collapse: collapse;
}
.table > thead {
  background-color: blue;
}
.table > thead > tr > th {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
  color: #ffff;
  opacity: 1;
  vertical-align: top;
  padding: 12px;
}
.table > tbody > tr > td {
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: #f1f1f1;
  background-color: #3c3f44;
  padding: 8px;
  text-align: center;
  border: 1px solid #dee2e685;
}
.table > tbody > tr > td > .order {
  width: 130px;
  text-decoration: none;
  line-height: 35px;
  color: #f1f1f1;
}

@media (max-width: 768px) {
  .table > thead {
    display: none;
  }
  .table > tbody {
    display: flex;
    flex-direction: column;
  }
  .table > tbody > tr {
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    margin-top: 5px;
  }
}
h1 {
  text-align: center;
}
